* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.L-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('https://ignacioborraz.github.io/eventos-espectaculares-JS/files/asientos.jpg');
}