.App-container {
    text-align: center;
    background: url('https://ignacioborraz.github.io/eventos-espectaculares-JS/files/asientos.jpg');
}

.App-button {
    border: 1px solid rgb(172, 12, 12);
    background: rgb(172, 12, 12);
    padding: 1% 3%;
    color: white;
    border-radius: 3px;
}

.App-title {
    margin: 0;
    font-size: 72px;
    margin-bottom: 72px;
}